<html>
<head>
    <title>My A-Frame Scene</title>
    <script src="https://aframe.io/releases/0.5.0/aframe.min.js"></script>
</head>
<body>

<a-scene>
    <a-assets>
        <!--<a-asset-item id="brac" src="images/brachiosarus/Brac.obj"></a-asset-item>-->
        <!--<a-asset-item id="brac-mtl" src="images/brachiosarus/Brac.mtl"></a-asset-item>-->
        <img id="skyTexture" src="https://cdn.aframe.io/360-image-gallery-boilerplate/img/sechelt.jpg">
    </a-assets>
    <!--<a-entity rotation="-90 0 0" position= "0 -8 -18"obj-model="obj: #brac; mtl: #brac-mtl"></a-entity>-->

    <a-sky src="#skyTexture"></a-sky>
</a-scene>

</body>
</html>